
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PositionInsertShow</title>
    <style>
        .container {
            background-color: #FFF1C4
        }

        .s {
            color: red
        }
    </style>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <script src="~/Scripts/axios/dist/axios.js"></script>
</head>
<body>
    <div class="container" id="app">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>您正在做的业务是：人力资源--客户化设置--人力资源档案管理设置--职位添加  </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div>
                <el-form :model="AddForm" ref="AddForm" :rules="rules" label-width="120px" class="demo-ruleForm">
                    <el-form-item label="职位分类编号" prop="name">
                        <el-input v-model="AddForm.MajorKindId" :disabled="true" style="width:auto"></el-input>
                    </el-form-item>
                    <el-form-item label="类型" prop="region">
                        <el-select v-on:change="s" v-model="AddForm.MajorKindName" placeholder="请选择">
                            <el-option v-for="item in items"
                                       :key="item.MajorKindId"
                                       :label="item.MajorKindName"
                                       :value="{value:item.MajorKindId,lable:item.MajorKindName}">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="职位编号" prop="MajorId">
                        <el-input v-model="AddForm.MajorId" style="width:auto"></el-input>
                    </el-form-item>
                    <el-form-item label="职位名称" prop="MajorName">
                        <el-input v-model="AddForm.MajorName" style="width:auto"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                    <el-button type="primary" v-on:click="submitForm('AddForm')">确 定</el-button>
                    <el-button v-on:click="qu()">取 消</el-button>
                </span>
            </div>
        </el-card>
        
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                items: [],
                AddForm: {
                    MfkId: "",
                    MajorKindId: "",
                    MajorKindName: "",
                    MajorId: "",
                    MajorName: ""
                },
                rules: {
                    MajorKindId: [
                        { required: true, message: '请输入职位分类编号', trigger: 'blur' }
                    ],
                    MajorKindName: [
                        { required: true, message: '请输入职位分类名称', trigger: 'blur' }
                    ],
                    MajorId: [
                        { required: true, message: '请输入职位编号', trigger: 'blur' }
                    ],
                    MajorName: [
                        { required: true, message: '请输入职位名称', trigger: 'blur' }
                    ],
                },

            },
            methods: {
                //数据展示
                fill() {
                
                    axios.get('/Customization/CMKXiaLa')

                        .then(res => {
                            console.log(res);
                            this.items = res.data;
                            //this.AddForm = res.data
                           // console.log();
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }, s(data) {
                    //下拉获取隐式值 显示值
                    var { value, lable } = data;
                    this.AddForm.MajorKindId = value;
                    this.AddForm.MajorKindName = lable;
                },
                Add() {
                    var t = this;

                    axios.post('/Customization/CMInsert', {
                      
                            MajorKindId: t.AddForm.MajorKindId,
                            MajorKindName: t.AddForm.MajorKindName,
                            MajorId: t.AddForm.MajorId,
                            MajorName: t.AddForm.MajorName,
                        
                    }).then(res => {
                        if (res.data > 0) {
                            t.$message({
                                message: "添加成功",
                                type: "success"
                            });
                            t.fill();
                            window.location = "/Customization/PositionSettingShow/";
                        } else {
                            t.$message({
                                message: "添加失败",
                                type: "error"
                            });
                        }
                    }).catch(err => {
                        console.info(err);
                        return;
                    })

                },
                submitForm: function (formName) {
                    this.$refs[formName].validate((valid) => {
                        if (valid) {
                            this.Add();
                        } else {
                            console.info('err submit');
                            return false;
                        }
                    })


                }, 
                qu() {
                    window.location = "/Customization/PositionSettingShow/";
                }
                ,
            }, mounted: function () {
                this.fill();

            }
        });


    </script>
</body>
</html>
