
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <title>MCSelectCX</title>
</head>
<body>
    <div id="app">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>您正在做的业务是：人力资源--调动管理--调动查询  </el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div slot="header" class="clearfix">
                <el-button style="float: right; padding: 3px 0" type="text" v-on:click="selectCX()">查询</el-button>
            </div>

            @*级联*@
            请选择员工所在机构
            <div width="180" class="TD_STYLE2">
                <el-cascader v-model="value"
                             :options="options"
                             :props="b"
                             ref="refs"
                             v-on:change="handleChange"></el-cascader>
            </div>
            @*级联*@
            请选择职位分类
            <div width="180" class="TD_STYLE2">
                <el-cascader v-model="value1"
                             :options="options1"
                             :props="n"
                             ref="refs1"
                             v-on:change="handleChange1"></el-cascader>
            </div>
            <template>

                <span class="demonstration">请输入建档时间</span>
                <el-date-picker v-model="value4"
                                type="date"
                                placeholder="选择日期">
                </el-date-picker>
                <span class="demonstration">至</span>
                <el-date-picker v-model="value5"
                                align="right"
                                type="date"
                                placeholder="选择日期">
                </el-date-picker>
            </template>
</div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                value: [],
                value1: [],
                options:[],
                options1: [],
                value4:"",
                value5:"",
                cc: "",
                aa: "",
                dd: "",
                qq: "",
                ww: "",
                ee:"",
                label: '',
                b: {
                    label: 'FirstKindName', value: 'FirstKindId', children: 'children',
                },
                n: {
                    label: 'MajorKindName', value: 'MajorKindId', children: 'Children',
                },
            }, methods: {
                //三级级联
                fill() {
                    axios.get('/Mobilize/MCjil')
                        .then(res => {
                            console.log(res.data); 
                            this.options = res.data

                        })
                        .catch(err => {
                            console.log(err);
                        })
                }, frll() {
                    axios.get('/Mobilize/CMerjin')
                        .then(res => {
                            console.log(res.data); 
                            this.options1=res.data
                        })
                        .catch(err => {
                            console.log(err);
                        })
                }, handleChange(value) {
                    const areaText = [];
                    const arr = this.$refs["refs"].getCheckedNodes()[0].pathNodes;
                    arr.forEach((i) => {
                        areaText.push(i.label);
                    });
                    this.qq= areaText[0];
                    this.ww = areaText[1];
                    this.ee = areaText[2];
                    //console.log(ee);

                }, handleChange1(value1) {
                    const areaText1 = [];
                    const arr = this.$refs["refs1"].getCheckedNodes()[0].pathNodes;
                    arr.forEach((i) => {
                        areaText1.push(i.label);
                    });
                     this.cc = areaText1[0];
                    this.aa = areaText1[1];
                    //console.log(aa);
                },
                selectCX() {
                    sessionStorage.setItem("yi",this. qq);
                    sessionStorage.setItem("er", this.ww);
                    sessionStorage.setItem("san", this.ee);
                    sessionStorage.setItem("fl", this.cc);
                    sessionStorage.setItem("mc", this.aa);
                    //console.log(this.ee);
                   window.location = "/Mobilize/MCliebin";
                }
            }, mounted: function () {
                this.fill();
                this.frll();
            }
        })
       
    </script>
</body>
</html>
