
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <title>XamineMc</title>
</head>

<body>
    <div id="app">
        <form method="post" action="check_list.html">
            <table width="100%">
                <tr>
                    <td>
                        <font color="black">您正在做的业务是：人力资源--调动管理--调动审核列表</font>
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>

                        当前待复核的调动人数: {{rows}}
                        例
                    </td>
                </tr>
            </table>
            <template>
                <el-table :data="tablelist"
                          border
                          style="width: 100%">
                    <el-table-column fixed
                                     prop="FirstKindName"
                                     label="I级机构"
                                     width="120">
                    </el-table-column>
                    <el-table-column 
                                     prop="FirstKindId"
                                     label="I级机构"
                                     v-if="false"
                                     width="120">
                    </el-table-column>
                    <el-table-column 
                                     prop="SecondKindId"
                                     label="I级机构"
                                     v-if="false"
                                     width="120">
                    </el-table-column>
                    <el-table-column 
                                     prop="ThirdKindId"
                                     label="I级机构"
                                     v-if="false"
                                     width="120">
                    </el-table-column>
                    <el-table-column prop="SecondKindName"
                                     label="II级机构 "
                                     width="120">
                    </el-table-column>
                    <el-table-column prop="ThirdKindName"
                                     label="Ⅲ级机构 "
                                     width="120">
                    </el-table-column>
                    <el-table-column prop="SalaryStandardName"
                                     label="薪酬标准 "
                                     width="120">
                    </el-table-column>
                    <el-table-column prop="HumanName"
                                     label="名字"
                                     width="120">
                    </el-table-column>
                    <el-table-column label="审核">
                        <template slot-scope="scope">
                            <el-button type="primary" size="small" v-on:click="dlet(scope.row.HumanId,scope.row.FirstKindId,scope.row.SecondKindId,scope.row.ThirdKindId)">审核 </el-button>

                        </template>
                </el-table>
            </template>
            <el-pagination v-on:size-change="handleSizeChange"
                           v-on:current-change="handleCurrentChange"
                           :currentpage="currentPage"
                           :page-sizes="[3, 6, 9, 12]"
                           :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="rows">
            </el-pagination>

        </form>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data:{
                tablelist: [],
                CheckStatus:"",
                currentPage: 1,
                pageSize: 3,
                rows: 1,
                ss:0,
            },
            methods: {
                fill: function () {
                    axios.get('/Mobilize/MCshiData', {
                            params: {
                               CurrentPage: this.currentPage,
                               PageSize: this.pageSize,
                            Where: "CheckStatus is NULL"
                            }
                        }).then(res => {
                            this.tablelist = res.data.List;
                            this.rows = res.data.Rows;
                        }).catch(err => {
                            console.log(err)
                        })

                }, dlet(id, a, b, c) {
                    sessionStorage.setItem("Nid", id);
                    //sessionStorage.setItem("q", a);
                    //sessionStorage.setItem("w", b);
                    //sessionStorage.setItem("e", c);
                    window.location = "/Mobilize/MCShiTG";
                },
            handleSizeChange: function (size) {
                this.currentPage = 1;
                this.pageSize = size;
            },
            handleCurrentChange: function (page) {
                this.currentPage = page;
                this.fill();
              }
            }, mounted: function () {
                this.fill()
            },
        })

    </script>
</body>
</html>
