
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <title>HireShow</title>
</head>
<body>
    <div id="app">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-breadcrumb separator="/">
                    <el-breadcrumb-item>您正在做的业务是：人力资源--招聘管理--录用管理--录用查询 </el-breadcrumb-item>
                </el-breadcrumb>
                <el-breadcrumb separator="/">
                    <div align="right">
                       @* <input type="button" value="返回" class="BUTTON_STYLE1" onclick="history.back();">*@
                    </div>
                </el-breadcrumb>
            </div>
            <el-table :data="tableData"
                      :border="true" style="width: 100%">
                <el-table-column prop="HumanName"
                                 label="姓名"
                                 width="180">
                </el-table-column>
                <el-table-column prop="HumanSex"
                                 label="姓别"
                                 width="180">
                </el-table-column>
                <el-table-column prop="HumanAge"
                                 label="年龄"
                                 width="180">
                </el-table-column>
                <el-table-column prop="HumanMajorKindName"
                                 label="职位类别"
                                 width="180">
                </el-table-column>
                <el-table-column prop="HunmaMajorName"
                                 label="职位名称"
                                 width="180">
                </el-table-column>
                <el-table-column prop="HumanCollege"
                                 label="毕业学院"
                                 width="180">
                </el-table-column>
                <el-table-column prop="HumanEducatedMajor"
                                 label="学历专业"
                                 width="180">
                </el-table-column>
                <el-table-column label="查询">
                    <template slot-scope="scope">
                        <el-button size="mini"
                                   v-on:click="Shai(scope.row)">查询</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination v-on:size-change="handleSizeChange"
                           v-on:current-change="handleCurrentChange"
                           :current-page="currentPage"
                           :page-sizes="[3, 6, 9, 12]"
                           :page-size="pageSize"
                           layout="total, sizes, prev, pager, next, jumper"
                           :total="rows">
            </el-pagination>
        </el-card>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                tableData: [],
                currentPage: 1,
                pageSize: 3,
                rows: 1,
            },
            methods: {
                Fill: function () {
                    var t = this;
                    var condition1 = "1=1  and PassPassComment = '通过'";
                    axios.get('/ResumeManagement/JianLiSelect', {
                        params: {
                            PageSize: t.pageSize,
                            CurrentPage: t.currentPage,
                            condition: condition1
                        }
                    }).then(res => {
                        console.info(res);
                        t.tableData = res.data.List;
                        t.rows = res.data.Rows;
                    })

                },
                handleSizeChange: function (size) {
                    this.size = size;
                    this.Fill();
                },
                handleCurrentChange: function (currentPage) {
                    this.currentPage = currentPage;
                    this.Fill();
                },
                Shai: function (row) {
                    localStorage.setItem("ResId7", row.ResId);
                    window.location.href = '/HireManagement/HireMessageShow';
                }
            },
            mounted: function () {
                this.currentPage = 1;
                this.Fill();
            }
        })
    </script>
</body>
</html>

