
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/vue/dist/vue.js"></script>
    <link href="~/Scripts/element-ui/lib/theme-chalk/index.css" rel="stylesheet" />
    <script src="~/Scripts/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="~/css/table.css" type="text/css" />
    <script src="~/Scripts/axios/dist/axios.js"></script>
    <title>薪酬标准查询跳转的分页</title>
</head>
<body>
    <div id="app">
        <el-table :data="tableData"
                  border
                  style="width: 100%">
            <el-table-column prop="SalaryStandardId"
                             label="薪酬编号">
            </el-table-column>
            <el-table-column prop="FirstKindName"
                             label="一级机构">
            </el-table-column>
            <el-table-column prop="SecondKindName"
                             label="二级机构">
            </el-table-column>
            <el-table-column prop="ThirdKindName"
                             label="三级机构">
            </el-table-column>
            <el-table-column prop="HumanAmount"
                             label="人数 ">
            </el-table-column>
            <el-table-column prop="SalaryPaidSum"
                             label="总额">
            </el-table-column>
            <el-table-column label="详情">
                <template slot-scope="scope">
                    <el-button icon="el-icon-search" circle v-on:click="zhuan(scope.row.SalaryGrantId)"></el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination v-on:size-change="handleSizeChange"
                       v-on:current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[3, 6, 9, 12]"
                       :page-size="pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="rows">
        </el-pagination>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                tableData: [],
                currentPage: 1,
                pageSize: 3,
                rows: 1,
                StandardId: '',
                StandardName: '',
                input: '',
                time: ''
            },
            methods: {
                //窗体加载
                fill() {
                    this.StandardId = sessionStorage.getItem("StandardId")
                    this.StandardName =sessionStorage.getItem("StandardName", this.StandardName)
                    //this.input =sessionStorage.getItem("input")
                    //this.time = sessionStorage.getItem("time")
                    var condition ="[CheckStatus]='2'"
                    if (this.StandardId != "" ) {
                        condition += " and [SalaryStandardId] like '%" + this.StandardId+"%'"
                    }
                    if (this.StandardName != "" ) {
                        condition += " and [Register] like '%" + this.StandardName + "%'"
                    }
                    //if (this.input != "") {
                    //    condition += " and RegistTime>='" + this.input + "' and RegistTime<='" + this.time+"'"
                    //}
                    console.log(condition);
                    axios.get('/Issue/SGRoleFenye', {
                        params: {
                            CurrentPage: this.currentPage,
                            PageSize: this.pageSize,
                            condition:condition
                        }
                    })
                        .then(res => {
                            this.tableData = res.data.List
                            this.rows = res.data.Rows
                            //console.log(res.data.List);
                            //console.log(res.data.Rows);
                        })
                        .catch(err => {
                            console.log(err);
                        })
                },
                //换页
                handleSizeChange: function (size) {
                    this.pageSize = size
                    this.fill()
                },
                handleCurrentChange: function (page) {
                    this.currentPage = page
                    this.fill()
                },
                zhuan(id) {
                    sessionStorage.setItem("SalaryGrantId", id)
                    console.log(id);
                    window.location.href = '../Issue/IssueDelete'
                }
            },
            //窗体预加载事件
            mounted: function () {
                this.fill()
            },
        })
    </script>
</body>
</html>
